<footer class="section-p1">
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="logo" src="#" alt="">
                <h4>Contact</h4>
                <p><strong>Adresse:</strong> Res Lumina B40 rue des prix nobel Aix-en-provence 13100</p>
                <p><strong>Téléphone:</strong> 04 94 07 30 99</p>
                <p><strong>Email:</strong> monia.bensikali@laposte.net</p>
                <div class="icon">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col">
                <h4>Information</h4>
                <a href="#">À propos</a>
                <a href="#">Conditions de livraison</a>
                <a href="#">Conditions</a>
            </div>
            <div class="col">
                <h4>Paiement sécurisé</h4>
                <!-- Ajoutez ici les informations sur les options de paiement sécurisé -->
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <p>&copy; 2023</p>
                </div>
            </div>
        </div>
    </div>
</footer>