  <section id="hero">
        <h4>Offre de reprise</h4>
        <h2>Super offres avantageuses</h2>
        <h1>Sur tous les produits</h1>
        <p>Économisez davantage avec des coupons et jusqu'à 50% de réduction  </p>
        <button>Achetez maintenant</button>
    </section>