{% extends 'base.html.twig' %}

{% block title %}Ajouter produit{% endblock %}

{% block body %}
  
    <section class="container">
      <h1>Ajouter un produit</h1>
      {% include "admin/products/_form.html.twig" %}
    </section>
{% endblock body %}
